<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="images/anuncios.png" />
    <title>Parceiros | Mob'Share</title>
</head>
<body>
    <div class="content-login">
        <div class="login">
            <div class="img-login">
               <a href="index.html"><img src="images/logo.png" width="364" height="150"  alt="MobShare"></a>
            </div>
            <div class="txt-login">
                <h1>Login:</h1>
                <input type="text" class="input-login">
            </div>
            <div class="txt-login">
                <h1>Senha:</h1>
                <input type="text" class="input-login">
            </div>
            <div class="btn-login">
                <button class="btn-login-form">Entrar</button>
                <p>Não tem login? Cadastre-se!</p>
            </div>
        </div>
        <div class="rodape-login">

        </div>
    </div>
</body>
</html>