@font-face{
    font-family: Mont;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #102840;
}

.principal {
 

    width: 1400px;
    height: 840px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    
}

/* ESTILIZAÇÃO DO LOGIN */
input{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
.principal-login{
 

    width: 1920px;
    height: 937px;
    background-color: #102840;
    float: left;
    
}
.logomarca {
    width: 400px;
    height: 200px;
    margin-top: 50px;
}


.box-login{
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
    margin-top: 160px;
   
    margin-bottom: 200px;
    background-color: #102840;

}

.box-login p{
    font-family: Mont;
    color: #8ab1d8;
    font-size: 14px;
    margin-top: -20px;
    width: 100%;
    text-align: center;
    margin-left: -35px;
    margin-bottom: 50px;
}

.txt-login {
    width: 100px;
    color: #8ab1d8;
    height: 30px;
    margin-top: 30px;
    margin-left: 40px;
    font-family: Mont;
    line-height: 30px;
    font-weight: bold;
}


.input-login {
    width: 200px;
    height: 20px;
    margin-top: -30px;
    margin-left: 110px;
}

.ipt-login{
    height: 25px;
    width: 200px;
    font-family: Mont;
    font-size: 14px;
    border: none;
    margin-left: 10px;
    border-radius: 15px;
}

.btn-login{
    border: none;
    width: 100px;
    font-family: Mont;
    text-transform: uppercase;
    margin-top: 30px;
    background-color: #8ab1d8;
    padding: 10px 10px 10px 10px;
    margin-left: 160px;
    font-weight: bold;
}

/* ESTILIZAÇÃO DENTRO DO CMS */

#logout{
    margin-left: 180px;
    width: 100px;
    height: 30px;
    margin-top: 20px;
}

.cabecalho {
    width: 100%;
    height: 120px;
    background-color: #102840;

}

.logo {    
    width: 260px;
    height: 100%;
    float: left;
}

.logo img{
    margin-left: 10px;
    margin-top: 10px;
    
}
.icone{
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 9px;

}

.icone img{
    margin-right: 30px;
}

.administrador{
    width: 300px;
    height: 100%;
    float: right;
    color: #cccccc;
    margin-top: 10px;
}

.visualizar:hover{
    background-color: #606e75;
    transition: 0.8s;
}

.texto{
    width: 300px;
    height: 20px;
    margin-left: 20px;
}

.texto p{
    font-family: Mont;
    font-size: 10px;
    text-transform: uppercase; 
    text-align: right;
    margin-top: -12px;
    margin-right: 50px;
}
.texto h1{
    font-family: Mont;
    font-size: 20px;
    margin-left: 30px;
}

.rodape{
    width: 100%;
    height: 100%;
    font-family: Mont;
    font-size: 15px;
    color: #fff;
    margin-right: 20px;
    text-align: center;
}

.texto-rodape{
    margin-right: 260px;
    margin-top: 5px;

}

.btn-sair{
    border: none;
    background-color: #fff;
    padding: 5px 5px 5px 5px;
    font-family: Mont;
    font-weight: bold;
    margin-left: 50px;
}

.btn-sair:hover{
    background-color: #8ab1d8;
}

.conteudo {
    width: 1400px;
    height: 750px;
    background-color: #eeeeee;
}

nav {
    width: 300px;
    height: 100%;
    background-color: #102840;
    float: left;
    
}

.link {
    width: 268px;
    height: 35px;
    font-family: Mont;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #515F75;
    font-weight: bold;
    padding-top: 15px;
}

.link:hover{
    background-color: #F74866;
    color: #fff;
    transition: 0.8s;
}

.usuario {
    width: 700px;
    height: 170px;
    float: right;
}

.infoUsuario{
    width: 590px;
    height: 150px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.foto{
    width: auto;
    height: 140px;
    float: left;
}



.user{
    width: 330px;
    height: 250px;
    float: left;
}

.nomeUser, .gerenciamento{
    width: 300;
    height: 30px;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
}



.listaDados{
    width: 550px;
    height: 75px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.listaDados2{
    width: 550px;
    height: 140px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
}

.dados{
    width: 100px;
    height: 20px;
    text-align: left;
    margin-top: 12px;
    float: left;
    clear: both;
    margin-left: 10px;
}

.infoDados {
    width: 255px;
    height: 20px;
    float: left;
    margin-top: 12px;
    text-align: justify;
}

.opcao{
    width: 89px;
    height: 20px;
    float: right;
}



.menu {
    width: 1099px;
    background-color: #8ab1d8;
    height: 100%;
    float: left;
    margin-top: -10px;
    
}

.informacao {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    margin: auto;
    overflow: scroll;
    overflow: auto;
}

.rodape {
    width: 100%;
    height: 50px;
    background-color: #102840;
    padding-top: 10px;
    text-align: right;
}

a{
    color: black;
    text-decoration: none;
}


.label2 {
    width: 175px;
    height: 20px;
    text-align: left;
    float: left;
}

.linha{
    width: 365px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.label3{
    width: 135px;
    height: 20px;
    float: left;
    margin-top: 25px;
    margin-left: 135px;
    margin-right: -65px;
}



.botao2{
    width: 70px;
    height: 30px;
    margin-top: 90px;
    margin-left: 55px;
}

.botao3{
    width: 70px;
    height: 30px;
    margin-top: 20px;
}

.botao4{
    width: 70px;
    height: 30px;
    margin-left: -150px;
}

.mensagem{
    width: 200px;
    height: 75px;
}

.pgAdministracao{
    font-size: 15px;
    width: 155px;
    height: 158px;
    margin-left: 100px;
    float: left;
    margin-top: 50px;
    
}

.pgAdministracao h1{
    font-size: 13px;
    text-align: center;
    color: #102840;
    font-family: Mont;
   
}

.pgAdministracao:hover{
    background-color: #cccccc;
    transition: 1s;
}

.imagem{
    width: 128px;
    height: 128px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

/********************/
.texto-bem-vindo{
    width: 60%;
    height: 30%;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.texto-bem-vindo img{
    text-align: center;
}

.texto-bem-vindo h1{
    font-family: Mont;
}

.texto-bem-vindo p{
    font-family: Mont;
    margin-top: -10px;
}
.titulo-func{
    width: 150px;
    height: 20px;
    font-family: Mont;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: px;
    margin-bottom: 20px;
}

.titulo-func-lista{
    width: 500px;
    height: 20px;
    font-family: Mont;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.gerenciar-func{
    width: 200px;
    height: 230px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
}

.gerenciar-func:hover{
    background-color: rgb(213, 214, 216);
    transition: 1s;
}

.botoes-func{
    width: 600px;
    height: 50px;
   margin-left: 250px;
}

.btn-fun{
    width: 120px;
    height: 30px;
    margin-top: 10px;
    border: none;
    background-color: #606e75;
    padding: 5px 5px 5px 5px;
    font-family: Mont;
    color: #fff;
    font-weight: bold;
    margin-left: 50px;
}

.btn-fun:hover{
    background-color: #cccccc;
    color: #102840;
}

.listaDadosFunc{
    width: 550px;
    height: 75px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
}

.dados-func{
    width: 100px;
    height: 20px;
    text-align: left;
    margin-top: 12px;
    float: left;
    clear: both;
    margin-left: 10px;
    font-family: Mont;
    font-weight: bold;
}

.dados-resp-func {
    width: 255px;
    height: 20px;
    float: left;
    margin-top: 12px;
    text-align: left;
    font-family: Mont;
}

.titulo-func-cad {
    width: 50px;
    height: 30px;

    text-align: left;
    font-family: Mont;
    margin-left: 100px;
}

.input-func{
    border: none;
    height: 25px;
    width: 190px;
    background-color: #cccccc;
    font-family: Mont;  
    
}

.slt-func{
    border: none;
    height: 25px;
    width: 190px;
    background-color: #cccccc;
    font-family: Mont;
}

.func-cad{
    width: 400px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.texto-niveis {
    width: 175px;
    height: 20px;
    text-align: left;
    float: left;
    font-family: Mont;
    font-weight: bold;
}

.texto-niveis-check {
    width: 175px;
    height: 20px;
    text-align: left;
    float: left;
    font-family: Mont;
    border: none;
}

.imagem-adm{
    width: 128px;
    height: 128px;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

.imagem-adm img{
    margin-top: -15px;
    margin-left: 8px;
}